<launch>
 <arg name="model" default="$(find mr5_v2)/urdf/mr5_v2.urdf" />
 <arg name="gui" default="True" />
 <param name="robot_description" textfile="$(arg model)" />
 <param name="use_gui" value="$(arg gui)"/>
 <node pkg="joint_state_publisher" type="joint_state_publisher" name= "joint_state_publisher" />
 <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
 </launch>
